=begin
#Rakam API Documentation

#An analytics platform API that lets you create your own analytics services.

OpenAPI spec version: 0.5
Contact: contact@rakam.io
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module RakamClient
  class MaterializedviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create view
    # 
    # @param materialized_view 
    # @param [Hash] opts the optional parameters
    # @return [SuccessMessage]
    def create_view(materialized_view, opts = {})
      data, _status_code, _headers = create_view_with_http_info(materialized_view, opts)
      return data
    end

    # Create view
    # 
    # @param materialized_view 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessMessage, Fixnum, Hash)>] SuccessMessage data, response status code and response headers
    def create_view_with_http_info(materialized_view, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MaterializedviewApi.create_view ..."
      end
      # verify the required parameter 'materialized_view' is set
      fail ArgumentError, "Missing the required parameter 'materialized_view' when calling MaterializedviewApi.create_view" if materialized_view.nil?
      # resource path
      local_var_path = "/materialized-view/create".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(materialized_view)
      auth_names = ['master_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SuccessMessage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaterializedviewApi#create_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete materialized view
    # 
    # @param materialized_view_delete_view 
    # @param [Hash] opts the optional parameters
    # @return [SuccessMessage]
    def delete_view(materialized_view_delete_view, opts = {})
      data, _status_code, _headers = delete_view_with_http_info(materialized_view_delete_view, opts)
      return data
    end

    # Delete materialized view
    # 
    # @param materialized_view_delete_view 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessMessage, Fixnum, Hash)>] SuccessMessage data, response status code and response headers
    def delete_view_with_http_info(materialized_view_delete_view, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MaterializedviewApi.delete_view ..."
      end
      # verify the required parameter 'materialized_view_delete_view' is set
      fail ArgumentError, "Missing the required parameter 'materialized_view_delete_view' when calling MaterializedviewApi.delete_view" if materialized_view_delete_view.nil?
      # resource path
      local_var_path = "/materialized-view/delete".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(materialized_view_delete_view)
      auth_names = ['master_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SuccessMessage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaterializedviewApi#delete_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get schemas
    # 
    # @param materialized_view_get_schema_of_view 
    # @param [Hash] opts the optional parameters
    # @return [Array<MaterializedViewSchema>]
    def get_schema_of_view(materialized_view_get_schema_of_view, opts = {})
      data, _status_code, _headers = get_schema_of_view_with_http_info(materialized_view_get_schema_of_view, opts)
      return data
    end

    # Get schemas
    # 
    # @param materialized_view_get_schema_of_view 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<MaterializedViewSchema>, Fixnum, Hash)>] Array<MaterializedViewSchema> data, response status code and response headers
    def get_schema_of_view_with_http_info(materialized_view_get_schema_of_view, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MaterializedviewApi.get_schema_of_view ..."
      end
      # verify the required parameter 'materialized_view_get_schema_of_view' is set
      fail ArgumentError, "Missing the required parameter 'materialized_view_get_schema_of_view' when calling MaterializedviewApi.get_schema_of_view" if materialized_view_get_schema_of_view.nil?
      # resource path
      local_var_path = "/materialized-view/schema".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(materialized_view_get_schema_of_view)
      auth_names = ['read_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<MaterializedViewSchema>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaterializedviewApi#get_schema_of_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get view
    # 
    # @param materialized_view_get_view 
    # @param [Hash] opts the optional parameters
    # @return [MaterializedView]
    def get_view(materialized_view_get_view, opts = {})
      data, _status_code, _headers = get_view_with_http_info(materialized_view_get_view, opts)
      return data
    end

    # Get view
    # 
    # @param materialized_view_get_view 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaterializedView, Fixnum, Hash)>] MaterializedView data, response status code and response headers
    def get_view_with_http_info(materialized_view_get_view, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MaterializedviewApi.get_view ..."
      end
      # verify the required parameter 'materialized_view_get_view' is set
      fail ArgumentError, "Missing the required parameter 'materialized_view_get_view' when calling MaterializedviewApi.get_view" if materialized_view_get_view.nil?
      # resource path
      local_var_path = "/materialized-view/get".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(materialized_view_get_view)
      auth_names = ['read_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MaterializedView')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaterializedviewApi#get_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List views
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<MaterializedView>]
    def list_views(opts = {})
      data, _status_code, _headers = list_views_with_http_info(opts)
      return data
    end

    # List views
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<MaterializedView>, Fixnum, Hash)>] Array<MaterializedView> data, response status code and response headers
    def list_views_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MaterializedviewApi.list_views ..."
      end
      # resource path
      local_var_path = "/materialized-view/list".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['read_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<MaterializedView>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaterializedviewApi#list_views\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
