=begin
#Rakam API Documentation

#An analytics platform API that lets you create your own analytics services.

OpenAPI spec version: 0.5
Contact: contact@rakam.io
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module RakamClient
  class UseractionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Apply batch operation
    # 
    # @param user_email_action_batch 
    # @param [Hash] opts the optional parameters
    # @return [Integer]
    def batch(user_email_action_batch, opts = {})
      data, _status_code, _headers = batch_with_http_info(user_email_action_batch, opts)
      return data
    end

    # Apply batch operation
    # 
    # @param user_email_action_batch 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def batch_with_http_info(user_email_action_batch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UseractionApi.batch ..."
      end
      # verify the required parameter 'user_email_action_batch' is set
      fail ArgumentError, "Missing the required parameter 'user_email_action_batch' when calling UseractionApi.batch" if user_email_action_batch.nil?
      # resource path
      local_var_path = "/user/action/email/batch".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(user_email_action_batch)
      auth_names = ['read_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UseractionApi#batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform action for single user
    # 
    # @param user_email_action_send 
    # @param [Hash] opts the optional parameters
    # @return [BOOLEAN]
    def send(user_email_action_send, opts = {})
      data, _status_code, _headers = send_with_http_info(user_email_action_send, opts)
      return data
    end

    # Perform action for single user
    # 
    # @param user_email_action_send 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BOOLEAN, Fixnum, Hash)>] BOOLEAN data, response status code and response headers
    def send_with_http_info(user_email_action_send, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: UseractionApi.send ..."
      end
      # verify the required parameter 'user_email_action_send' is set
      fail ArgumentError, "Missing the required parameter 'user_email_action_send' when calling UseractionApi.send" if user_email_action_send.nil?
      # resource path
      local_var_path = "/user/action/email/single".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(user_email_action_send)
      auth_names = ['read_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BOOLEAN')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UseractionApi#send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
